@import "../../style/all.scss";

.destination__cotainer {
  .destination__content {
    margin-top: 70px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .destination__details {
    ul {
      cursor: pointer;
      display: flex;
      list-style: none;
      margin: 50px 0;
      li {
        position: relative;
        img {
          min-height: 300px;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
          transition: all 0.3s;
          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.1);
          }
        }
        &:nth-child(2) {
          padding: 0 30px;
        }
        &:nth-child(3) {
          padding-right: 30px;
        }
      }
      .text {
        position: absolute;
        padding: 15px 15px;
        bottom: 0;
        h1 {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
          z-index: 1;
        }
      }
    }
  }
}
.bestTrips {
  .bestTrips__content {
    margin-top: 70px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .bestTrips__details {
    ul {
      display: flex;
      list-style: none;
      margin: 50px 0;
      li {
        img {
          width: 100%;
        }
      }
    }
  }
}
.choose {
  text-align: center;
  .choose__content {
    margin-top: 70px;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .choose__details {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        width: 30.66%;
        img {
          width: 150px;
          height: 150px;
          margin-bottom: 20px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
        }
        .description {
          font-size: 15px;
          color: #444;
        }
      }
    }
  }
}
.background {
  margin: 60px 0;
  img {
    height: 60vh;
    background-size: cover;
    width: 100%;
    margin: auto;
    object-fit: cover;
  }
}
.articles {
  .articles__content {
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .articles__details {
    margin-bottom: 40px;
    ul {
      display: flex;
      list-style: none;

      img {
        width: 100%;
      }
    }
  }
}
