@import "../../style/all.scss";

.destination__cotainer {
  .destination__content {
    margin-top: 70px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .destination__details {
    ul {
      display: flex;
      list-style: none;
      margin: 50px 0;
      li {
        img {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}
.bestTrips {
  margin-top: 60px;
  .bestTrips__content {
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .bestTrips__details {
    ul {
      display: flex;
      list-style: none;
      margin: 50px 0;
      li {
        img {
          width: 100%;
        }
      }
    }
  }
}
.choose {
  margin-top: 60px;
  text-align: center;
  .choose__content {
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .choose__details {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        width: 30.66%;
        img {
          width: 150px;
          height: 150px;
          margin-bottom: 20px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
        }
        .description {
          font-size: 15px;
          color: #444;
        }
      }
    }
  }
}
.background {
  margin-bottom: 40px;
  right: 0;
  position: relative;
  margin-left: 0;
  background: grey;
  img {
    position: absolute;
    right: 0;
    background-position: center;
  }
}
