@import "../../style/all.scss";
@import "../../style/theme.scss";

.destination__cotainer {
  .destination__content {
    margin-top: 55px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: $title-color;
    }
  }
  .destination__details {
    ul {
      height: 100%;
      cursor: pointer;
      display: flex;
      list-style: none;
      margin: 50px 0;

      li {
        width: 100%;
        position: relative;
        transition: all 0.3s;
        .text {
          position: absolute;
          padding: 15px 15px;
          bottom: 0;
          z-index: 2;
          h1 {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
          }
        }
        img {
          display: block;
          min-height: 290px;
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(
            transparent 0%,
            transparent 60%,
            rgba(0, 0, 0, 0.1) 66%,
            rgba(0, 0, 0, 0.5) 93%,
            rgba(0, 0, 0, 0.49) 100%
          );
          border-radius: 5px;
        }
        &:nth-child(2) {
          margin-left: 30px;
        }
        &:nth-child(3) {
          margin: 0 30px;
        }
        &:hover {
          box-shadow: 0 20px 40px 4px rgba(0, 0, 0, 0.1);
          transform: translateY(-5px);
          border-radius: 5px;
        }
      }
    }
  }
}
.bestTrips {
  .bestTrips__content {
    margin-top: 70px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .bestTrips__details {
    ul {
      display: flex;
      list-style: none;
      margin: 50px 0;
      li {
        border-radius: 5px;
        border: 1px solid #cacaca;
        transition: all 0.3s;
        &:nth-child(2) {
          margin: 0 30px;
        }
        &:nth-child(3) .sale {
          position: absolute;
          color: #fff;
          background: #1ec6b6;
          font-size: 12px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          top: -15px;
          right: -15px;
          border-radius: 50%;
        }
        .tour__image {
          cursor: pointer;
          position: relative;
          display: block;

          img {
            border-radius: 5px 5px 0 0;
            display: block;
            min-height: 230px;
            width: 100%;
            object-fit: cover;
          }
          .tour__price {
            position: absolute;
            cursor: pointer;
            z-index: 2;
            background: #ff4a52;
            padding: 3px 10px 2px 10px;
            bottom: 10px;
            transition-duration: 0.2s;

            .normal__price {
              &::before {
                color: #ffffff;
                content: "$";
              }
              font-weight: 700;
              color: #ffffff;
              transition-duration: 0.2s;
            }
            .discount {
              font-size: 13px;
              color: #ffffff;
              opacity: 0.6;
              text-decoration: line-through;
            }
          }
        }
        &:nth-child(3) .discount::before {
          content: "$";
          text-decoration: line-through;
        }
        &:nth-child(3) .normal__price {
          color: #ffffff;
          font-size: 15px;
          font-weight: 700;
          margin-left: 5px;
        }
        &:hover .tour__price {
          transform: scale(1.1);
        }

        .text {
          position: relative;
          padding: 15px 15px 15px 15px;
          .name {
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;
          }
          .address {
            margin-top: 5px;
            font-size: 13px;
          }
          .evaluate {
            margin-top: 20px;
            display: flex;
            .start {
              display: flex;
              cursor: pointer;
              margin-right: 1px;
              font-size: 15px;
              margin-top: 1px;
              &::before {
                content: "\f005";
                font-family: "FontAwesome";
                color: #1ec6b6;
              }
              &:nth-child(5):before {
                content: "\f006";
                font-family: "FontAwesome";
              }
            }
            .quantity {
              font-size: 12px;
              font-weight: 600;
              margin-left: 5px;
            }
            .day {
              svg {
                vertical-align: middle;
                margin-top: -2px;
                margin-right: 2px;
                font-size: 13px;
              }
              position: absolute;
              margin-right: 10px;
              right: 0;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
        &:hover {
          box-shadow: 0 20px 40px 4px rgba(0, 0, 0, 0.1);
          transform: translateY(-5px);
        }
      }
    }
  }
}
.choose {
  text-align: center;
  .choose__content {
    margin-top: 70px;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .choose__details {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        width: 30.66%;
        img {
          width: 150px;
          height: 150px;
          margin-bottom: 20px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
        }
        .description {
          font-size: 15px;
          margin-top: 10px;
          color: #444;
        }
      }
    }
  }
}
.background {
  margin: 60px 0;
  img {
    height: 60vh;
    background-size: cover;
    width: 100%;
    margin: auto;
    object-fit: cover;
  }
}
.articles {
  .articles__content {
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: #8d9199;
    }
  }
  .articles__details {
    margin-top: 60px;
    margin-bottom: 80px;
    ul {
      display: flex;
      list-style: none;
      li {
        &:nth-child(2) {
          margin: 0 35px;
        }
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 20px 20px 4px rgba(0, 0, 0, 0.1);
        }
        .details {
          border: 1px solid #cacaca;
          border-radius: 5px;

          img {
            width: 100%;
          }
          .text {
            padding: 15px 25px;
            .date {
              font-size: 13px;
              font-weight: 600;
            }
            .title {
              font-size: 20px;
              font-weight: 700;
              margin-top: 5px;
              margin-right: 20px;
            }
            .description {
              font-size: 15px;
              font-weight: 300;
              margin-top: 23px;

              line-height: 28px;
            }
            .more {
              cursor: pointer;
              font-size: 15px;
              color: #929292;
              margin: 30px 0 10px 0;
              &:hover {
                color: #000;
              }
              svg {
                margin-bottom: 2px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}
