@import "../../style/all.scss";
@import "../../style/theme.scss";

.header {
  position: relative;

  .header__banner {
    img {
      width: 100%;
      height: 834px;
      margin-top: -103px;
      z-index: -1;
      position: relative;
      object-fit: cover;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 834px;
      margin-top: -103px;
      z-index: 0;
      background: #000;
      opacity: 0.3;
    }
  }
}
.container__header {
  position: absolute;
  top: 0;
  width: 100%;

  .title {
    margin-top: 208px;
    h1 {
      font-size: 36px;
      color: #fff;
      text-align: center;
    }
    h3 {
      color: #cccccc;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .tour__search {
      display: flex;
      .form__show {
        margin-top: 20px;
        svg {
          position: absolute;
          margin-top: 12px;
          margin-left: -50px;
          color: #7a7a7a;
        }
        .form__search {
          position: relative;
          width: 280px;
          padding: 8px 15px;
          border-radius: 5px;
          border: none;
          height: 40px;
          margin-right: 25px;
          box-sizing: border-box;
          outline: none;
          border: 1px solid #dce0e0;
        }
        .month {
          position: relative;
          width: 280px;
          padding: 8px 15px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #4d4d4d;
          margin-right: 25px;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          border: 1px solid #dce0e0;
        }
        .sort__by {
          position: relative;
          width: 280px;
          padding: 8px 15px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #4d4d4d;
          margin-right: 25px;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          border: 1px solid #dce0e0;
        }
        .button {
          position: relative;
          width: 280px;
          padding: 8px 15px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #fff;
          background: #ff4a52;
          margin-right: 25px;
          box-sizing: border-box;

          &:hover {
            background: #1ec6b6;
          }
        }
      }
    }
    .show{
      display: block !important;
    }
    #tour__advanced {
      display: none;
      .form__hide_advanced {
        display: flex;
        margin-top: 25px;
      }
      .form__hide {
        span {
          font-size: 15px;
          position: absolute;
          color: #7a7a7a;
          margin-top: 7px;
          margin-left: -45px;
        }
        .list__categories {
          position: relative;
          width: 280px;
          padding: 8px 10px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #4d4d4d;
          margin-right: 25px;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          border: 1px solid #dce0e0;
        }
        svg {
          position: absolute;
          margin-top: 6px;
          margin-left: -5px;
          color: #7a7a7a;
        }
        .destinations {
          position: relative;
          width: 280px;
          padding: 8px 10px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #4d4d4d;
          margin-right: 25px;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          border: 1px solid #dce0e0;
          text-overflow: "";
        }
        .budget {
          position: relative;
          width: 280px;
          padding: 8px 10px;
          border-radius: 5px;
          border: none;
          height: 40px;
          color: #707070;
          margin-right: 25px;
          box-sizing: border-box;
          border: 1px solid #dce0e0;
          outline: none;
        }
      }
    }
    .icon_up {
      &::before {
        font-family: "FontAwesome";
        content: "\f106" !important;
      }
    }
    .tour__addvanced__search {
      margin-top: 10px;
      .icon_down {
        &::before {
          font-family: "FontAwesome";
          content: "\f107";
          margin-right: 5px;
          vertical-align: middle;
          font-size: 20px;
        }
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }
}
