$DESKTOP: "DESKTOP";
$MEDIUM_DEVICE: "MEDIUM_DEVICE";
$TABLE_DEVICE: "TABLE_DEVICE";
$WIDE_DEVICE: "WIDE_DEVICE";
$SMALL_DEVICE: "SMALL_DEVICE";

@mixin Responsive($canvas) {
  @if $canvas == $DESKTOP {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  } @else if $canvas == $MEDIUM_DEVICE {
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $canvas == $TABLE_DEVICE {
    @media only screen and (min-width: 426px) and (max-width: 768px) {
      @content;
    }
  } @else if $canvas == $WIDE_DEVICE {
    @media only screen and (min-width: 376px) and (max-width: 425px) {
      @content;
    }
  } @else if $canvas == $SMALL_DEVICE {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}
