@import "../../style/all.scss";

.navbar {
  .navbar__logo {
    img {
      width: 92px;
      position: relative;
      padding: 27px 0;
      z-index: 1;
    }
  }
}
.navbar__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  ul {
    display: flex;
    margin: 0 20px;

    li {
      cursor: pointer;
      position: relative;
      list-style: none;
      padding: 0 12px;

      .menu {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        transition: all 0.3s;
        padding: 0 0 30px 0;
        &::after {
          font-family: "FontAwesome";
          content: "\f107";
          display: inline-block;
          margin-left: 8px;
          line-height: 20px;
        }
      }
    }
    li:hover .header__menu__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
  .header__menu__dropdown {
    border-radius: 5px;
    margin-top: 25px;
    margin-left: -20px;
    background: #fff;
    display: block;
    position: absolute;
    width: 250px;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    z-index: 9;
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    padding: 10px 8px;

    li {
      .link__menu {
        // width: 100%;
        text-decoration: none;
        color: #000;
        font-size: 13px;
        // padding: 10px 0;
        
        &::after {
          font-family: "FontAwesome";
          content: "\f105";
          margin-top: 2px;
          line-height: 20px;
          display: inline-block;
          float: right;
        }
      }
      .link_menu {
        text-decoration: none;
        color: #000;
        font-size: 13px;
        line-height: 5px;
      }
      :hover {
        color: #ff4a52;
      }
    }
    li:hover .header__menu__horizontal {
      opacity: 1;
      visibility: visible;
    }
  }
  .header__menu__horizontal {
    border-radius: 5px;
    margin-left: 232px;
    top: -10px;
    background: #fff;
    display: block;
    position: absolute;
    width: 222px;
    padding: 5px 0;
    transition: all 0.2s ease;
    line-height: 28px;
    opacity: 0;
    visibility: hidden;
    
    li {
      a {
        text-decoration: none;
        color: #000;
        font-size: 13px;
        &::after {
          content: "";
        }
      }
      :hover {
        color: #ff4a52;
      }
    }
  }
  .header__cart {
    display: flex;
    margin-right: 10px;
    position: relative;
    align-items: center;

    svg {
      cursor: pointer;
      color: #fff;
      margin-right: 5px;
      font-size: 17px;
    }
    .logo__cart {
      display: flex;
      align-items: center;
      position: relative;
      span {
        position: absolute;
        color: #fff;
        font-size: 9px;
        background: #ff4a52;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
        text-align: center;
        top: -8px;
        left: 11px;
        line-height: 16px;
      }
    }
  }
}
