@import "../../style/all.scss";
@import "../../style/theme.scss";
@import "../../style/responsive.scss";

.blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.navbar {
  max-width: 100%;
  display: flex;
  height: 75px;
  .navbar__logo {
    img {
      cursor: pointer;
      width: 92px;
      position: relative;
      margin-top: 26px;
      margin-left: 3px;
      z-index: 3;
      @include Responsive($MEDIUM_DEVICE) {
        margin-left: 54px;
      }
      @include Responsive($TABLE_DEVICE) {
        margin-left: 60px;
      }
      @include Responsive($WIDE_DEVICE) {
        margin-left: 30px;
        margin-top: 20px;
      }
      @include Responsive($SMALL_DEVICE) {
        margin-left: 30px;
        margin-top: 20px;
      }
    }
  }
  .navbar__menu {
    height: 45px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 12px;
    ul {
      display: flex;
      li {
        cursor: pointer;
        position: relative;
        list-style: none;
        padding: 0 17px 0 10px;
        margin-top: 5px;
        .menu {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          font-size: 13px;
          padding: 40px 0;
          &::after {
            font-family: "FontAwesome";
            content: "\f107";
            margin-left: 8px;
          }
        }
        @include Responsive($MEDIUM_DEVICE) {
          padding: 0 16px 0 10px;
        }
      }
      li:hover .header__menu__dropdown {
        opacity: 1;
        visibility: visible;
      }
      @include Responsive($TABLE_DEVICE) {
        display: none;
      }
      @include Responsive($WIDE_DEVICE) {
        display: none;
      }
      @include Responsive($SMALL_DEVICE) {
        display: none;
      }
    }
    .header__menu__dropdown {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      margin-top: 22px;
      margin-left: -20px;
      background: #fff;
      display: block;
      position: absolute;
      width: 240px;
      padding: 0 0 0 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 28px;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;

      li {
        .link__menu {
          text-decoration: none;
          color: #000;
          font-size: 13px;
          &::after {
            font-family: "FontAwesome";
            content: "\f105";
            margin-top: 2px;
            line-height: 20px;
            float: right;
          }
        }
        &:nth-child(4) {
          line-height: 25px;
        }
        &:nth-child(5) {
          line-height: 25px;
        }
        &::after {
          content: "";
          margin-top: 5px;
          display: block;
          border-bottom: 1px solid #dce0e0;
        }
        &:last-child::after {
          content: "";
          border: none;
        }
        .link_menu {
          text-decoration: none;
          color: #000;
          font-size: 13px;
        }
        :hover {
          color: #ff4a52;
        }
      }
      li:hover .header__menu__horizontal {
        opacity: 1;
        visibility: visible;
      }
    }
    .header__menu__horizontal {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
      width: 240px;
      margin-left: 221px;
      top: -5px;
      padding: 2px 3px;
      background: #fff;
      display: block;
      border-radius: 5px;
      position: absolute;
      transition: all 0.2s ease;
      line-height: 28px;
      opacity: 0;
      visibility: hidden;
      li {
        a {
          text-decoration: none;
          color: #000;
          font-size: 13px;
          &::after {
            content: "";
          }
        }
      }
    }

    .menu__cart {
      display: flex;
      margin-right: 10px;
      position: relative;
      align-items: center;
      cursor: pointer;
      #logo__menu {
        svg {
          margin-top: 14px;
          color: #fff;
          font-size: 18px;
        }
        @include Responsive($TABLE_DEVICE) {
          margin-right: 10px;
        }
        @include Responsive($WIDE_DEVICE) {
          margin-right: 10px;
        }
        @include Responsive($SMALL_DEVICE) {
          margin-right: 10px;
        }
      }
      #logo__cart {
        svg {
          display: flex;
          align-items: center;
          margin-top: 5px;
          position: relative;
          margin-left: 10px;
          color: #fff;
          font-size: 17px;
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
        span {
          position: absolute;
          color: #fff;
          font-size: 9px;
          font-weight: 500;
          background: #ff4a52;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          display: inline-block;
          text-align: center;
          top: 5px;
          left: 37px;
          line-height: 16px;
          @include Responsive($TABLE_DEVICE) {
            margin-left: 10px;
          }
          @include Responsive($WIDE_DEVICE) {
            margin-left: 10px;
          }
          @include Responsive($SMALL_DEVICE) {
            margin-left: 10px;
          }
        }
      }
      @include Responsive($MEDIUM_DEVICE) {
        margin-right: 55px;
      }
      @include Responsive($TABLE_DEVICE) {
        margin-right: 41px;
      }
      @include Responsive($WIDE_DEVICE) {
        margin-right: 31px;
        margin-top: -12px;
      }
      @include Responsive($SMALL_DEVICE) {
        margin-right: 31px;
        margin-top: -12px;
      }
    }
  }
}

//Navbar Fixed
.hidden {
  opacity: 0;
}
.show {
  transform: translateY(0) !important;
}
.navbarFixed {
  max-width: 100%;
  transform: translateY(-80px);
  transition: all 0.4s ease;
  background: #fff;
  display: flex;
  z-index: 999;
  width: 100%;
  height: 75px;
  position: fixed;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  .navbar__logo_black {
    img {
      cursor: pointer;
      width: 92px;
      position: relative;
      margin-top: 26px;
      vertical-align: middle;
      margin-left: 329px;
      z-index: 3;
      @include Responsive($DESKTOP) {
        margin-left: 90px;
      }
      @include Responsive($MEDIUM_DEVICE) {
        margin-left: 55px;
      }
      @include Responsive($TABLE_DEVICE) {
        margin-left: 60px;
      }
      @include Responsive($WIDE_DEVICE) {
        margin-left: 30px;
        margin-top: 20px;
      }
      @include Responsive($SMALL_DEVICE) {
        margin-left: 30px;
        margin-top: 20px;
      }
    }
  }
  .navbar__menu_fixed {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 39px;
    ul {
      display: flex;
      li {
        cursor: pointer;
        position: relative;
        list-style: none;
        margin-top: 5px;
        padding: 0 17px 0 10px;
        .menu {
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 13px;
          transition: all 0.3s;
          padding: 30px 0;
          &::after {
            font-family: "FontAwesome";
            content: "\f107";
            margin-left: 8px;
          }
          &:hover {
            color: #ff4a52;
          }
        }
        &:nth-child(1) .menu {
          color: #ff4a52;
        }
        @include Responsive($MEDIUM_DEVICE) {
          padding: 0 16px 0 10px;
        }
        @include Responsive($TABLE_DEVICE) {
          display: none;
        }
        @include Responsive($SMALL_DEVICE) {
          display: none;
        }
      }
      li:hover .header__menuFixed__dropdown {
        opacity: 1;
        visibility: visible;
      }
      @include Responsive($WIDE_DEVICE) {
        display: none;
      }
    }
    .header__menuFixed__dropdown {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      margin-top: 22px;
      margin-left: -20px;
      background: #fff;
      display: block;
      position: absolute;
      width: 250px;
      font-size: 13px;
      font-weight: 500;
      line-height: 28px;
      z-index: 1;
      transition: all 0.2s ease;
      opacity: 0;
      visibility: hidden;
      padding: 2px 8px;

      li {
        padding: 0 10px 0 10px;
        .link__menuFixed {
          text-decoration: none;
          color: #000;
          font-size: 13px;
          &::after {
            font-family: "FontAwesome";
            content: "\f105";
            margin-top: 2px;
            line-height: 20px;
            float: right;
          }
        }
        &:nth-child(4) {
          line-height: 25px;
        }
        &:nth-child(5) {
          line-height: 25px;
        }
        &::after {
          content: "";
          margin-top: 5px;
          display: block;
          border-bottom: 1px solid #dce0e0;
        }
        &:last-child::after {
          content: "";
          border: none;
        }
        .link_menuFixed {
          text-decoration: none;
          color: #000;
          font-size: 13px;
          line-height: -5px;
        }
        :hover {
          color: #ff4a52;
        }
      }
      li:hover .header__menuFixed__horizontal {
        opacity: 1;
        visibility: visible;
      }
    }
    .header__menuFixed__horizontal {
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
      width: 230px;
      margin-left: 233px;
      top: -7px;
      padding: 2px 3px;
      background: #fff;
      display: block;
      border-radius: 5px;
      position: absolute;
      transition: all 0.2s ease;
      line-height: 28px;
      opacity: 0;
      visibility: hidden;
      li {
        a {
          text-decoration: none;
          color: #000;
          font-size: 13px;
          &::after {
            content: "";
          }
        }
      }
    }

    .menu__cart {
      display: flex;
      margin-right: 10px;
      position: relative;
      align-items: center;
      cursor: pointer;
      #logo__menu_fixed {
        svg {
          margin-top: 14px;
          color: #000;
          font-size: 18px;
        }
      }
      #logo__cart {
        svg {
          display: flex;
          align-items: center;
          margin-top: 5px;
          position: relative;
          margin-left: 10px;
          color: #000000;
          transition: all 0.3s;
          font-size: 17px;
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
          &:hover {
            color: #ff4a52;
          }
        }
        span {
          position: absolute;
          color: #fff;
          font-size: 9px;
          font-weight: 500;
          background: #ff4a52;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          display: inline-block;
          text-align: center;
          top: 5px;
          left: 37px;
          line-height: 16px;
          @include Responsive($TABLE_DEVICE) {
            margin-left: 10px;
          }
          @include Responsive($WIDE_DEVICE) {
            margin-left: 10px;
          }
          @include Responsive($SMALL_DEVICE) {
            margin-left: 10px;
          }
        }
        @include Responsive($TABLE_DEVICE) {
          margin-left: 10px;
        }
        @include Responsive($WIDE_DEVICE) {
          margin-left: 10px;
        }
        @include Responsive($SMALL_DEVICE) {
          margin-left: 10px;
        }
      }
      @include Responsive($WIDE_DEVICE) {
        margin-right: 25px;
      }
    }
    @include Responsive($DESKTOP) {
      display: flex;
      justify-content: center;
      margin-left: 255px;
    }
    @include Responsive($MEDIUM_DEVICE) {
      display: flex;
      justify-content: flex-start;
      margin-left: 32px;
    }
    @include Responsive($TABLE_DEVICE) {
      margin-left: 465px;
    }
    @include Responsive($WIDE_DEVICE) {
      margin-left: 190px;
      margin-top: 4px;
    }
    @include Responsive($SMALL_DEVICE) {
      margin-left: 105px;
      margin-top: 4px;
    }
  }
  @include Responsive($WIDE_DEVICE) {
    height: 63px;
  }
}
