@import "../../style/all.scss";

.option__btn {
  cursor: pointer;
  width: 40px;
  height: 145px;
  position: fixed;
  top: 150px;
  right: -2px;
  background: #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  text-align: center;
  z-index: 4;
  font-size: 19px;
  a {
    display: block;
    line-height: 32px;
  }
  .icon__setting {
    .tooltip {
      position: relative;
      display: inline-block;

      .text {
        visibility: hidden;
        width: 130px;
        background-color: rgb(31, 31, 31);
        color: #fff;
        border: 2px solid #000;
        text-align: center;
        border-radius: 6px;
        font-size: 9px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 40px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent black;
        }
      }
      &:hover .text {
        visibility: visible;
      }
    }
  }
  .icon__heart {
    .tooltip {
      position: relative;
      display: inline-block;

      .text {
        visibility: hidden;
        width: 80px;
        background-color: rgb(31, 31, 31);
        color: #fff;
        border: 2px solid #000;
        text-align: center;
        border-radius: 6px;
        font-size: 9px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 40px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent black;
        }
      }
      &:hover .text {
        visibility: visible;
      }
    }
  }
  .icon__book {
    .tooltip {
      position: relative;
      display: inline-block;

      .text {
        visibility: hidden;
        width: 130px;
        background-color: rgb(31, 31, 31);
        color: #fff;
        border: 2px solid #000;
        text-align: center;
        border-radius: 6px;
        font-size: 9px;
        position: absolute;
        z-index: 1;
        top: -5px;
        margin-top: 2px;
        right: 40px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent black;
        }
      }
      &:hover .text {
        visibility: visible;
      }
    }
  }
  .icon__cart {
    .tooltip {
      position: relative;
      display: inline-block;

      .text {
        visibility: hidden;
        width: 100px;
        background-color: rgb(31, 31, 31);
        color: #fff;
        border: 2px solid #000;
        text-align: center;
        border-radius: 6px;
        font-size: 9px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 40px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent transparent black;
        }
      }
      &:hover .text {
        visibility: visible;
      }
    }
  }
  @include Responsive($WIDE_DEVICE){
    display: none;
  }
  @include Responsive($SMALL_DEVICE){
    display: none;
  }
}
